@charset "euc-kr";

/* 이웃닷컴(e-wut.com) 
웹 퍼블리싱 
작업자:김동우, 김은정 */

/*레이아웃*/
#wrapper {
	width:1004px;
	}



body {
	background:url(../images/step1BodyBg.gif) repeat-x left top;
	}
#wrapper {
	width:760px;
	margin:0 auto;
	}
h1 {
	float:left;
	position:static;
	visibility:visible;
	line-height:130%;
	font-size:14px;
	width:auto;
	height:20px;
	padding-top:3px;
	padding-left:25px;
	color:#0178aa;
	background:url(../images/titleIcon2.gif) no-repeat left top;
	
	}
#joinStep4 h2 {
			visibility:visible;
			line-height:130%;
			font-size:14px;
			width:auto;
			height:29px;
			padding-left:20px;
			position:static;
			background:url(../images/titleIcon.gif) no-repeat left top;
			}
 .gnb {
	height:24px;
	padding-top:31px;
	margin-bottom:23px;
	}
.gnb ul {
		overflow:hidden;
		float:right;
		}
.gnb ul li {
			float:left;
			margin-right:-1px;
			padding:0 10px;
			font-size:0.92em;
			background:url(../images/bar.gif) no-repeat right 1px;
			}
#joinStep4 .topArea {
	margin-bottom:30px;
	}
#joinStep4 .contentArea {
	padding:0 14px;
	}

#joinStep4 .joinComplete {
	width:344px;
	height:288px;
	padding-left:365px;
	padding-right:23px;
	padding-top:44px;
	background:url(../images/joinCompleteBg.gif) no-repeat left top;
	}
	#joinStep4 .joinComplete .title {
		font-size:16px;
		}
	#joinStep4 .joinComplete p {
		line-height:150%;
		}
	#joinStep4 .joinComplete p .point1 {
		font-weight:bold;
		font-size:14px;
		color:#5f9600;
		}
	#joinStep4 .joinComplete p .point2 {
		color:#0178aa;
		}
	#joinStep4 .joinComplete img {
		float:right;
		}

#joinStep4 .footerArea {
	float:left;
	width:100%;
	padding-top:25px;
	margin-top:30px;
	background:url(../images/introFooterAreaBg.gif) no-repeat left top;
	}
	#joinStep4 .footerMenu {
		display:inline;
	overflow:hidden;
		float:left;
		width:500px;
		margin-left:250px;
		}
	#joinStep4 .footerMenu li {
		float:left;
		margin-left:-1px;
		padding:0 8px;
		font-size:0.92em;
		background:url(../images/bar.gif) no-repeat left 1px;
		}
