@charset "euc-kr";

/*
웹 퍼블리싱
작업자:김동우(haman@nate.com) 
*/

/*기본설정*/
body {
	margin:0;
	padding:0;
	font-family:"돋움", dotum, "굴림", Gulim, AppleGothic, sans-serif;
	font-size:75%;
	}

img {
	border:0;
	}

a {
	color:#535353 ;
	text-decoration:none;
	}

a:hover {
	color:#000;
	}

hr { 
	display:none;
	} 

fieldset {
	margin:0;
	padding:0;
	border:0;
	}
ul, li, ol, dt, dd, dl {
	margin:0;
	padding:0;
	border:0;
	list-style-type:none;
	}

h1, h2, h3, h4, h5, h6, legend, caption, #accessibility, #accessibilityNav {
	visibility:hidden;
	overflow:hidden;
	position:absolute; 
	width:0; 
	height:0;
	margin:0; 
	padding:0;
	font-size:0;
	line-height:0;
	}
